# Serve .html files without extensions
Options +MultiViews
# If a SVG and a PNG exists the prefer the SVG
AddType image/svg+xml;qs=0.9 svg sgvz
AddType image/png;qs=0.8 png
# Work around Apache bug from 2002
# https://bz.apache.org/bugzilla/show_bug.cgi?id=53595
# https://kevinlocke.name/bits/2012/07/20/serving-xhtml-with-apache-multiviews/
Header always edit "Content-Type" ";\s*qs=[0-9]*(?:\.[0-9]+)?\s*" ""
# Gzip these file types
AddOutputFilter DEFLATE html
AddOutputFilter DEFLATE svg 
AddOutputFilter DEFLATE css
AddOutputFilter DEFLATE js

