---
title: CoTech
layout: default
---

<section class="grid grid-uneven">
  <div class="stack">
    <h1>We're building a cooperative digital economy</h1>

    <p class="large">CoTech is a UK-wide network of creative technology companies
      fully owned and controlled by the people who do the work.</p>

    <p class="intro">We design, build, and support digital and creative products for
      organisations that want values-aligned tech.</p>

    <img class="rounded" src="assets/img/richard.jpg" alt="" />

    <div class="switcher">
      <a class="btn" href="/hire">Hire our co-ops</a>
      <a class="btn" href="/join">Join the network</a>
    </div>
  </div>

  <div class="large-only">
    <img src="assets/img/decoration.svg" alt="" />
  </div>
</section>

{% include services.html %}

{% include our_members.html %}
