<footer>
  <div class="footer-upper">
    <div class="row">
      <div class="small-12 columns">

        <div class="menu-centered">
          <ul class="menu">
            <li><a href="/about">About <span>&#xbb;</span></a></li>
            <li><a href="/join">Join <span>&#xbb;</span></a></li>
            <li><a href="/manifesto">Manifesto <span>&#xbb;</span></a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-lower">
    <div class="row">
      <div class="small-12 columns">
        <img src="/app/themes/coop-tech-oowp-theme/public/img/coop-logo.png" class="float-center" />
        <p>Site developed by <a href="http://glowboxdesign.co.uk/" target="_blank">Glowbox Design</a> &amp; <a href="http://outlandish.com" target="_blank">Outlandish</a>.</p>
        <p>Source code available on <a href="https://git.coop/cotech/website" target="_blank">git.coop</a>.</p>
        <p>Hosted by <a href="https://www.webarchitects.coop/" target="_blank">Webarchitects</a> for CoTech &#xa9;2018</p>
      </div>
    </div>
  </div>
<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setDomains", ["*.coops.tech","*.dev.coops.tech","*.static.coops.tech","*.www.coops.tech"]]);
  _paq.push(["disableCookies"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://stats.webarch.net/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '223']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
</footer>
