<footer>
  <section class="stack">
    <div class="stack container reverse">
      <a href="https://workers.coop">
        <img src="/assets/img/a-member-of-workers-coop.png" />
      </a>

      <div>
        <p><strong>Development:</strong> Go Free Range & Outlandish</p>
        <p><strong>Hosting:</strong> Web Architects</p>
        <p><strong>Branding & design:</strong> Creative Coop</p>
      </div>
    </div>

    <div class="container">
      <p>CoTech 2025</p>
      <p>Source code available on <a href="https://git.coop/cotech/website" target="_blank">git.coop</a>.</p>
    </div>
  </section>

  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
    _paq.push(["setDomains", ["*.coops.tech","*.dev.coops.tech","*.static.coops.tech","*.www.coops.tech"]]);
    _paq.push(["disableCookies"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://stats.webarch.net/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '223']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->
</footer>
