<section class="stack">
  <h2>Our services</h2>

  <p class="intro">Between our member co-ops, we cover the full digital and creative
  stack. From strategy and discovery through to build, hosting and
  long-term support. We can even support organisational development,
  particularly when it comes to democratic ownership and
  decision-making.</p>

  <div class="grid">
    <div class="box stack">
      <h3 class="title">Digital products & platforms</h3>
      <ul>
        <li>Websites & web apps  (WordPress, Drupal, Webflow, custom)</li>
        <li>CMS / CRM design and development</li>
        <li>E-commerce</li>
        <li>Complex data integrations</li>
        <li>Learning platforms</li>
        <li>Custom AI applications</li>
        <li>Data visualisation</li>
        <li>Cloud hosting</li>
      </ul>
    </div>

    <div class="box stack">
      <h3 class="title">Design & content</h3>
      <ul>
        <li>User research & testing</li>
        <li>Design sprints & discovery</li>
        <li>Accessibility & usability training</li>
        <li>Branding & graphic design</li>
        <li>Film & animation</li>
        <li>Game design</li>
        <li>Print production</li>
      </ul>
    </div>

    <div class="box stack">
      <h3 class="title">Marketing & comms</h3>
      <ul>
        <li>Digital strategy & campaigns</li>
        <li>Copywriting</li>
        <li>Social media marketing</li>
        <li>Search engine optimisation (SEO)</li>
        <li>Generative engine optimisation (GEO)</li>
        <li>Analytics & analysis</li>
      </ul>
    </div>

    <div class="box stack">
      <h3 class="title">Co-op & organisational development</h3>
      <ul>
        <li>Cooperative Development</li>
        <li>Facilitation</li>
        <li>Sociocracy Training</li>
        <li>Service Design</li>
      </ul>
    </div>
  </div>
</section>
