@font-face {
  font-family: 'open_sansregular';
  src: url("/assets/fonts/OpenSans-Regular-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold';
  src: url("/assets/fonts/OpenSans-Bold-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

p, li, a {
  font-family: "open_sansregular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #1e2637;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "open_sansbold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.header {
  display: flex;
  padding: 1.4rem;
  align-items: center;
  justify-content: space-between;
}

.header a {
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
  color: #38aad5;
}

.header_logo-link {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.header_menu-list {
  list-style-type: none;
  display: flex;
  gap: 0.7rem;
  font-size: 1rem;
  letter-spacing: 0.05em;
}

.hero {
  width: 100%;
  padding: 8rem;
  background-image: url(/assets/img/banner-collage.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;

}

.hero_body {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.6;
  color: #ffffff;
  max-width: 50ch;
}

.hero_title {
  display: none;
}

.hero_button {
  cursor: pointer;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 4px;
}

.hero_button a {
  color: white;
}
