<!doctype html>
<html lang="en">
  {% include head.html %}

  <body class="padded">
    <section class="coop-info-box">
      <div class="coop-info-box__close">
        <a href="/#members">
          <img src="/assets/img/close.svg" alt="close" />
        </a>
      </div>

      <div class="coop-info-box__logo">
        <img class="greyscale" src="/images/coops/{{ page.logo }}" alt="{{ page.slug }}">
      </div>

      <div class="coop-info-box__content stack">
        <p><strong>Cooperative name</strong></p>
        <h2>{{ page.name }}</h2>

        <p><strong>About this cooperative</strong></p>
        <div class="coop-info-box__body stack">
          {{ content }}
        </div>

        <p><strong>Cooperative website</strong></p>

        <a class="btn" href="{{ page.website }}">{{ page.name }}</a>
      </div>
    </section>
  </body>
</html>
