<!doctype html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    <section class="slice">
      <a href="{{ page.website }}" target="_blank">
        <img class="slice_logo" src="/images/coops/{{ page.logo }}" alt="{{ page.slug }}">
      </a>
      <h1 class="slice_title">{{ page.name }}</h1>
      <a class="slice_subtitle" href="{{ page.website }}" target="_blank">{{ page.website }}</a>
    </section>

    <div class="two-column">
      <div class="two-column_left">
      </div>

      <div class="two-column_right">
        <section>
          <p>{{ content }}</p>
        </section>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
