<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  {% include head.html %}
  <body>
    {% include header.html %}

    <div>
      <section>
        <h1>Cooperative Technologists</h1>
        <p>Creative technology companies, fully owned and controlled by
          the people who do the work. Cooperative ownership means tech
          that’s better for its workers and customers.</p>

        <span>
          <a href="/about#manifesto">Our manifesto</a>
        </span>
      </section>

      {{ content }}
    </div>

    {% include footer.html %}
  </body>
</html>
