<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  {% include head.html %}
  <body>
    {% include header.html %}

    <section class="hero">
      <div class="hero_container">
        <h1 class="hero_title">Cooperative Technologists</h1>
        <h2 class="hero_body">Creative technology companies, fully owned and controlled by
        the people who do the work.<br />
        Cooperative ownership means tech that’s better for its workers and customers.</h2>
        <h2>Do you have a creative or tech need?
        </h2>

        <span class="hero_button">
          <a href="mailto:contact@cotech.coop">Contact us</a>
        </span>
      </div>
    </section>

    {{ content }}

    {% include footer.html %}
  </body>
</html>
