<!doctype html>
<html lang="en">

{% include head.html %}

<body>
  {% include header.html %}

  <div class="default-wrapper">
    <section class="page-heading">
      <h2>Coops that use <span>{{ page.name }}</span></h2>
      {% if page.description %}
      <p>{{ page.description }}</p>
      {% endif %}
    </section>

    <div class="logo-grid">
      {% for coop in site.coops %}
      {% if coop.technologies contains page.slug %}
      <a class="logo-grid_link" href="{{ coop.url | relative_url }}">
        <div class="logo-grid_item">
          <img class="logo-grid_img" src="/images/coops/{{ coop.logo }}" alt="{{ coop.name }}" />
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% include footer.html %}
</body>

</html>
